<div class="blocks-promo">
        <div class="block-promo home-main">
            <a href="/paski-wybielajace">
                <img src="pub/media/images/CREST_ADA_SEAL_HomePage_Module 061617.jpg" width="940" height="460" />
            </a>
        <div class="content bg-white"><span class="info">Najlepszy sposób na wybielanie zębów</span>
        <h1 class="title">Poznaj wybielające paski Crest</h1>
        <a class="action more button" href="/paski-wybielajace">Kup Whitestrips</a></div>
        </div>
    </div>