@import '_variables';

// @import '_bootstrap-grid';

@media (min-width: 768px) {
	.page-header {
	
		.panel.wrapper {
			background-color: @dark-blue;
			border: none;
		}
	}
	.logo {
		margin-top: -30px;
	}

	.header.content {
		padding-bottom: 3rem;
	}

	.header-menu {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: block;
	}

	.header-menu__list {
		display: flex;
		margin: 0;
		justify-content: center;
		padding: 0;
	}

	.header-menu__item {
		margin-top: 1rem;
	}

	.header-menu__link {
		line-height: 47px;
		padding: 0 12px;
		color: @white !important;
		text-transform: uppercase;
	}

	.navigation {
		background: @white;
		ul {
			display: flex;
			justify-content: center;
			li {
				a {
					color: @light-blue !important;  
					text-transform: uppercase;
				}
			}
		}
		.level0.active > .level-top, .level0.has-active > .level-top {
			border-color: @light-blue;
		}
	}

	.block-search {
		width: 200px;
	}

	// .blocks-promo {
	// 	margin-left:-15px;
	// 	margin-right:-15px;
	// }

	
}

@media (min-width: 1024px) {
	.block-promo{
		.content {
			top: 10rem;
		}
	}
}