@import '_variables';
@import '_fonts';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.page-header {
	background-color: @blue;

	.panel.wrapper {
		background-color: @dark-blue;
		// border: none;
	}
}

.minicart-wrapper .action.showcart:before, .nav-toggle:before, .block-search .label:before {
	color: @white;
}

.nav-sections {
	background-color: @white;
}

.header.content {
    padding-top: 0; 
}

.logo {
    position: relative;
    left: 50%;	
    transform: translateX(-50%);
}

.block-promo{
    margin-bottom:8px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    color: #333 !important;

    .content-wrapper {
        display: block;
        text-align: center;

        &::before,&::after {
            content: "";
            position: absolute;
            width: 50%;
            height: 100%;
            z-index: -1;
            background-repeat-y: no-repeat;
        }

        &::before {
            left: 0;
            background-image: url(http://local.magento/pub/media/wysiwyg/CREST_ADA_SEAL_HomePage_Module_061617_L.png);
        }
        
        &::after {
            right: 0;
            background-image: url(http://local.magento/pub/media/wysiwyg/CREST_ADA_SEAL_HomePage_Module_061617_P.png);
        }
    }
    
    .content {
        display: block;
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        padding: 25px 35px 35px;
        left: 4rem;
        top: 5rem;
        width: 40%;
    }

    .info {
        display: block;
        font-weight: 300;
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    .title {
        display: block;
        font-weight: 300;
        font-size: 3.2rem;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .title+.button {
        margin-top: 10px;
    }

    .button.more {
        font-size: 1.8rem;
        background-image: none;
        background: #1979c3;
        padding: 7px 15px;
        color: @white;
        border: 1px solid #1979c3;
        cursor: pointer;
        display: inline-block;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        box-sizing: border-box;
        vertical-align: middle;
        border-radius: 3px;
        text-decoration: none;
        padding: 10px 15px;
    }

    .bg-white {
        background-color:rgba(255,255,255,0.9);
    }
}

@media (max-width:850px) {
    .block-promo{
		.content {
			top: 2rem;
		}
	}
}

@media (max-width:767px){
    .page-header {
        .panel.wrapper {
            padding: 1rem;
        }
    }
	.header-menu {
        display: none;
    }
}